<h1>Create Account:</h1>
<%= form_for(@user, url: registration_path(:user)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Name/Nickname"%>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password min. 8 char" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password"%>
  </div>
  <div class="field">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<ul>
  <li><a href="/users/sign_in">Log in</a></li>
  <li><a href="/users/unlock/new">Resend unlock instructions</a></li>
</ul>
