<div class="recipe_list">
  <span class="glyphicon glyphicon-check icon" aria-hidden="true" id="set_all_as_main_dish"></span> Set all as main dish
  <ul class="row">
    <% @recipes.each do |recipe| %>
      <li class="col-sm-3">
        <div>
          <a href="/recipes/<%= recipe.id %>">
            <input name="recipe[id][]" value="<%= recipe.id %>" type="hidden">
            <%= image_tag recipe.photo.url(:small) %>
            <span class="glyphicon glyphicon-check icon add_to_meal <%= selected?(recipe.id) %>" aria-hidden="true" 
            id="set_all_as_main_dish" data-recipe-id="<%= recipe.id %>"></span>
            <label><%= shorten(recipe.name) %></label>
          </a>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var elements = {'add_all_recipes': '#set_all_as_main_dish',
                    'add_to_meal_list': '.recipe_list .add_to_meal'};

    bindUserRecipeListEvents(elements);
  });
</script>
