<% content_for :header do %>
  <script src="/assets/typeahead.bundle.min.js"></script>
  <script src="/assets/mustache.min.js"></script>
<% end %>

<div class="recipe">
  <%= form_for(@recipe) do |f| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <h2><%= f.text_field :name, :required => true, placeholder: "Name" %></h2>
    </div>

    <div class="row">
      <div class="field col-sm-4">
        <label for="recipe_prep_time">Prep time (in mins)</label><br>
        <%= f.number_field :prep_time %>
      </div>
      <div class="field col-sm-4">
        <label for="recipe_prep_time">Cook time (in mins)</label><br>
        <%= f.number_field :cook_time %>
      </div>
      <div class="field col-sm-4">
        <label for="recipe_serving">Serving</label><br>
        <%= f.number_field :serving %>
      </div>
    </div>
    <!-- Ingredients -->
    <div class="ingredient">
      <strong>Ingredients</strong> (one ingredient per line)
      <div id="ingredient_list">
      <%= f.fields_for :ingredients do |ingredient_form|%>
        <%= ingredient_form.text_field :name, autocomplete: "off" %>
      <% end %>
      </div>
       <button type="button" id="add_ingredient_button" class="btn">Add ingredient</button>
    </div>

    <div class="field">
      <%= f.label :directions %><br>
      <%= f.text_area :directions, :required => true%>
    </div>

    <!-- Photos -->
    <div class="field recipe-form-photos row">
      <%= f.fields_for :photos do |photo| %>
        <div class="form-photo col-sm-4">
          <i class="icon fa fa-trash fa-3x delete-photo"></i>
          <%= image_tag photo.object.photo.url(:small) %>
          <%= photo.hidden_field :_destroy, value: "false", 
                                  class: "delete-photo-field" %>
          <%= photo.hidden_field :id, value: photo.object.id %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.file_field "photos_attributes[#{photo_count}][photo]" %>
      <%= f.file_field "photos_attributes[#{photo_count + 1}][photo]" %>
      <%= f.file_field "photos_attributes[#{photo_count + 2}][photo]" %>
    </div>
    
    <div class="field">
      <%= f.label :source_url %><br>
      <%= f.text_field :source_url %>
    </div>

    <div class="field recipe_tags">
        <label>Tags</label>
        <ul id="tag_list">
          <%= f.fields_for :tags do |tag_form|%>
            <li class="tag">
              <span class="icon glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span><%= tag_form.object.name %></span>
              <%= tag_form.hidden_field :name %>
            </li>
          <% end %>
        </ul>

      <input id="recipe_tags_input" class="typeahead" type="text" placeholder="Add tags" autocomplete="off">
    </div>

    <div class="row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn" onclick="window.history.go(-1); return false;" >Cancel</button>
      </div>
    </div>
  <% end %>

<script id="tag_template" type="x-tmpl-mustache">
  <li class="tag">
    <span class="icon glyphicon glyphicon-remove" aria-hidden="true"></span>
    <span>{{name}}</span>
    <input value="{{name}}" name="recipe[tags_attributes][{{index}}][name]" id="recipe_tags_attributes_{{index}}_name" type="hidden">
    <input value="{{id}}" name="recipe[tags_attributes][{{index}}][id]" id="recipe_tags_attributes_{{index}}_id" type="hidden">
  </li>
</script>

  <script type="text/javascript">
    $( document ).ready(function() {
      var elements = {'delete_elements': '.delete-photo',
                      'delete_photo_field': '.delete-photo-field',
                      'ingredient_list': '#ingredient_list',
                      'add_ingredient': '#add_ingredient_button',
                      'focus_next': '.recipe input'
                    }
      bindRecipeEvents(elements);
     

     var tags = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: {
        url: '/system/recipes/tags.json',
        cache: false
      }
    });

    $('#recipe_tags_input').typeahead(null, {
      name: 'recipe-tags',
      source: tags,
      minLength: 2,
      limit: 10,
      display: "name"
    });

    $('#recipe_tags_input').bind('typeahead:select', function(ev, suggestion) {
      console.log('this is what I did: ' + suggestion.id);
      addTag(suggestion.id, suggestion.name);
    });

    $('#recipe_tags_input').bind('typeahead:autocomplete', function(ev, suggestion) {
      addTag(suggestion.id, suggestion.name);
    });

    $('#recipe_tags_input').keypress(function(e) {
      if (e.which == 13) {
        e.preventDefault();
        addTag("", $(this).val());
        // var item_length = $('#tag_list li').length;
        // var template = $('#tag_template').html();
        // Mustache.parse(template);
        // var html = Mustache.render(template, {name: $(this).val(), index: item_length});
        // $('#tag_list').append(html);
        // $(this).val("");
        // $('.twitter-typeahead .tt-menu').hide();
      }
    });

    function addTag(tag_id, tag_name) {
        var item_length = $('#tag_list li').length;
        var template = $('#tag_template').html();
        Mustache.parse(template);
        var html = Mustache.render(template, {name: tag_name, id: tag_id, index: item_length});
        $('#tag_list').append(html);
        $('#recipe_tags_input').val("");
        $('.twitter-typeahead .tt-menu').hide();      
    }



    });




  </script>
</div>