<div class="recipe">
  <%= form_for(@recipe) do |f| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <h2><%= f.text_field :name, :required => true, placeholder: "Name" %></h2>
    </div>

    <div class="row">
      <div class="field col-sm-4">
        <label for="recipe_prep_time">Prep time (in mins)</label><br>
        <%= f.number_field :prep_time %>
      </div>
      <div class="field col-sm-4">
        <label for="recipe_prep_time">Cook time (in mins)</label><br>
        <%= f.number_field :cook_time %>
      </div>
      <div class="field col-sm-4">
        <label for="recipe_serving">Serving</label><br>
        <%= f.number_field :serving %>
      </div>
    </div>
    <!-- Ingredients -->
    <div class="ingredient">
      <strong>Ingredients</strong> (one ingredient per line)
      <div id="ingredient_list">
      <%= f.fields_for :ingredients do |ingredient_form|%>
        <%= ingredient_form.text_field :name, autocomplete: "off" %>
      <% end %>
      </div>
       <button type="button" id="add_ingredient_button" class="btn">Add ingredient</button>
    </div>

    <div class="field">
      <%= f.label :directions %><br>
      <%= f.text_area :directions, :required => true%>
    </div>

    <!-- Photos -->
    <div class="field recipe-form-photos row">
      <%= f.fields_for :photos do |photo| %>
        <div class="form-photo col-sm-4">
          <i class="icon fa fa-trash fa-3x delete-photo"></i>
          <%= image_tag photo.object.photo.url(:small) %>
          <%= photo.hidden_field :_destroy, value: "false", 
                                  class: "delete-photo-field" %>
          <%= photo.hidden_field :id, value: photo.object.id %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.file_field "photos_attributes[#{photo_count}][photo]" %>
      <%= f.file_field "photos_attributes[#{photo_count + 1}][photo]" %>
      <%= f.file_field "photos_attributes[#{photo_count + 2}][photo]" %>
    </div>
    
    <div class="field">
      <%= f.label :source_url %><br>
      <%= f.text_field :source_url %>
    </div>

    <div class="field recipe_tags">
        <label>Tags</label>
        <ul id="tag_list">
          <% @recipe.tags.each do |tag| %>
            <li class="tag">
              <span class="delete_icon glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span><%= sanitize tag.name %></span>
              <input value="<%= tag.name %>" name="tags[]" type="hidden"></input>
            </li>
          <% end %>
        </ul>

      <input id="recipe_tags_input" class="typeahead" type="text" placeholder="Add tags" autocomplete="off">
    </div>

    <div class="row">
      <div class="col-sm-6">
        <button type="button" class="btn" onclick="window.history.go(-1); return false;" >Cancel</button>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  <% end %>

  <script id="tag_template" type="x-tmpl-mustache">
    <li class="tag">
      <span class="delete_icon glyphicon glyphicon-remove" aria-hidden="true"></span>
      <span>{{name}}</span>
      <input value="{{name}}" name="tags[]" type="hidden"></input>
    </li>
  </script>

  <script id="ingredient_template" type="x-tmpl-mustache">
    <input type="text" autocomplete=off name="recipe[ingredients_attributes][{{index}}][name]" id="recipe_ingredients_attributes_{{index}}_name">
  </script>

  <script type="text/javascript"> 
    var bindElements = function () {
      var elements = {'delete_elements': '.delete-photo',
                      'delete_photo_field': '.delete-photo-field',
                      'ingredient_list': '#ingredient_list',
                      'add_ingredient': '#add_ingredient_button',
                      'ingredient_template': '#ingredient_template',
                      'focus_next': '.recipe input',
                      'tag_input': '#recipe_tags_input',
                      'tag_list': '#tag_list',
                      'tag_delete_fields': '.tag .delete_icon',
                      'tag_template': '#tag_template',
                      'tag_names': <%= raw @tag_names %>
                    }
      bindRecipeEvents(elements);
    }

  $(document).ready(bindElements);

  </script>
</div>