<div class="recipe">
  <%= form_for(@recipe) do |f| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <h2><%= f.text_field :name, :required => true, placeholder: "Name" %></h2>
    </div>

    <div class="row">
      <div class="field col-sm-4">
        <label for="recipe_prep_time">Prep time (in mins)</label><br>
        <%= f.number_field :prep_time %>
      </div>
      <div class="field col-sm-4">
        <label for="recipe_prep_time">Cook time (in mins)</label><br>
        <%= f.number_field :cook_time %>
      </div>
      <div class="field col-sm-4">
        <label for="recipe_serving">Serving</label><br>
        <%= f.number_field :serving %>
      </div>
    </div>
    <!-- Ingredients -->
    <div class="ingredient">
      <strong>Ingredients</strong> (one ingredient per line)
      <div id="ingredient_list">
      <%= f.fields_for :ingredients do |ingredient_form|%>
        <%= ingredient_form.text_field :name, autocomplete: "off" %>
      <% end %>
      </div>
       <button type="button" id="add_ingredient_button" class="btn">Add ingredient</button>
    </div>

    <div class="field">
      <%= f.label :directions %><br>
      <%= f.text_area :directions, :required => true%>
    </div>

    <!-- Photos -->
    <div class="field recipe-form-photos row">
      <%= f.fields_for :photos do |photo| %>
        <div class="form-photo col-sm-4">
          <i class="fa fa-trash fa-3x delete-photo"></i>
          <%= image_tag photo.object.photo.url(:small) %>
          <%= photo.hidden_field :_destroy, value: "false" %>
          <%= photo.hidden_field :id, value: photo.object.id %>
        </div>
      <% end %>
    </div>

    <%= f.file_field "photos_attributes[#{photo_count}][photo]" %>
    <%= f.file_field "photos_attributes[#{photo_count + 1}][photo]" %>
    <%= f.file_field "photos_attributes[#{photo_count + 2}][photo]" %>

    <div class="field">
      <%= f.label :source_url %><br>
      <%= f.text_field :source_url %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn" onclick="window.history.go(-1); return false;" >Cancel</button>
      </div>
    </div>
  <% end %>

  <script type="text/javascript">
  $('#add_ingredient_button').click( function(e) {
      e.preventDefault();
      var ingredient_length = $('#ingredient_list input').length;

      for (var i = ingredient_length; i < ingredient_length + 5; i++) {
        var input = '<input type="text" autocomplete=off name="recipe[ingredients_attributes][{{index}}][name]" id="recipe_ingredients_attributes_{{index}}_name">';
        
        var index_input = input.replace(/{{index}}/g, i)
        $('#ingredient_list').append(index_input);
      }

      modifyEnterForInput();
  });

  function modifyEnterForInput() {
    $('.recipe input').keypress(function (e) {
      var key = e.which;
      if (key == 13) {
        e.preventDefault();
        $(this).next().focus();
      }
    });
  }

  $('.delete-photo').click(function(e) {
    e.preventDefault();
    var parent = $(this).parent();
    parent.css("display", "none");
    parent.find("input").first().val("true");
  });

  modifyEnterForInput();
  </script>
</div>