<% content_for :banner do %>
  <div class="banner">
    <div class="ci3 container">
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/chiemseehotel/15174190181" targer="_blank">Anna</a>
        </div>
        <img src="/images/bread.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/chiemseehotel/14990632807" targer="_blank">Anna</a>
        </div>
        <img src="/images/cake.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/sweetonveg/7244404448/" targer="_blank">Jennifer</a>
        </div>
        <img src="/images/pasta.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/sweetonveg/8078817046/" targer="_blank">Jennifer</a>
        </div>
        <img src="/images/chillie.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/sweetonveg/6933047123/" targer="_blank">Jennifer</a>
        </div>
        <img src="/images/curry.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/sweetonveg/6750034613/" targer="_blank">Jennifer</a>
        </div>
        <img src="/images/chickpea.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/sweetonveg/4145699588/" targer="_blank">Jennifer</a>
        </div>
        <img src="/images/sushi.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/sweetonveg/4600354370/" targer="_blank">Jennifer</a>
        </div>
        <img src="/images/burger.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/sweetonveg/4907977592/" targer="_blank">Jennifer</a>
        </div>
        <img src="/images/spring_roll.jpg">
      </div>
      <div class="item">
        <div class="banner-text">
          Photo by <a href="https://www.flickr.com/photos/sweetonveg/5039444393/" targer="_blank">Jennifer</a>
        </div>
        <img src="/images/salad.jpg">
      </div>
    </div>
  </div>
<% end %>

  
  <div class="container content">

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Direction</th>
      <th>Prep time</th>
      <th>Cook time</th>
      <th>Reviewed</th>
      <th>Source url</th>
      <th>Serving</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.directions %></td>
        <td><%= recipe.prep_time %></td>
        <td><%= recipe.cook_time %></td>
        <td><%= recipe.reviewed %></td>
        <td><%= recipe.source_url %></td>
        <td><%= recipe.serving %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>

</div>
  <!-- // <script type="text/javascript" src="ci3_carousel.js"></script> -->
  <%= javascript_include_tag "ci3_carousel" %> 
  <script type="text/javascript">
    $('.ci3').ci3();
  </script>