<div class="recipe">
  <h1>
    <%= @recipe.name %>
  </h1>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag @recipe.photo.url(:medium) %>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <label>Prep time:</label>
        <%= @recipe.prep_time %>
      </div>
      <div class="field">
        <label>Cook time:</label>
        <%= @recipe.cook_time %>
      </div>
      <div class="field">
        <label>Serving:</label>
        <%= @recipe.serving %>
      </div>
      <div class="field recipe_tags">
        <label>Tags:</label>
        <ul id="tag_list">
          <% @recipe.tags.each do |tag| %>
            <li class="tag">
              <span class="delete_icon glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span><%= sanitize tag.name %></span>
              <input value="<%= tag.name %>" name="tags[]" type="hidden"></input>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="field">
        <label>Ingredients</label>
      <ul class="ingredients">
      <% @recipe.ingredients.each do |ingredient| %>
        <li><input type="checkbox" class="check_strike"><%= ingredient.name %></li>
      <% end %>
      </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="field directions">
        <label>Direction:</label>
        <ul>
          <% directions.each do |d| %>
            <li><input type="checkbox" class="check_strike"><%= d %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row col-sm-12">
    <a href="<%= @recipe.source_url %>">Source</a>
  </div>
  <div class="field">
    <% if editable? %>
      <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.check_strike').click(function() {
      var decorValue = "none";
      if ($(this).is(":checked")) {
        decorValue = "line-through"
      } 
      $(this).parent().css('text-decoration', decorValue);
    });
  });

  </script>