<div class="recipe">
  <h1>
    <%= @recipe.name %>
  </h1>
  <div class="row">
    <div class="col-sm-8">
      <%= image_tag @recipe.photo.url(:medium) %>
    </div>
    <div class="col-sm-4">
      <div class="recipe-label">
        Prep time:
      </div>
      <div class="recipe-value">
        <%= @recipe.prep_time %>
      </div>
      <div class="recipe-label">
        Cook time:
      </div>
      <div class="recipe-value">
        <%= @recipe.cook_time %>
      </div>
      <div class="recipe-label">
        Serving:
      </div>
      <div class="recipe-value">
        <%= @recipe.serving %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="recipe-label">
        Ingredients
      </div>
      <div class="recipe-value">
      <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
      <% end %>
      </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="recipe-label">
        Direction:
      </div>
      <div class="recipe-value">
        <%= @recipe.directions %>
      </div>
    </div>
  </div>
  <div class="row col-sm-12">
    <a href="<%= @recipe.source_url %>">Source</a>
  </div>
  <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary" %>
</div>