 <%= devise_error_messages! %>
<h2>Log in</h2>
<div class="log_in">
  <%= form_for(@user, url: session_path(:user)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <label>Email</label>
      <%= f.email_field :email, placeholder: "Email" %>
    </div>
    <div class="field">
      <label>Password</label>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>

  <ul>
    <li><a href="/users/sign_up">Sign up</a></li>
    <li><a href="/users/unlock/new">Resend unlock instructions</a></li>
  </ul>
