<div class="meal_plan">
<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="date">
    <div class="field form-group">
      <%= f.label :start_date %><br>
      <input class="datepicker" placeholder="Start date" value="<%= format_date(@plan.start_date) %>" id="start_date" type="text">
    </div>
    <div class="field form-group">
      <%= f.label :end_date %><br>
      <input class="datepicker" placeholder="End date" value="<%= format_date(@plan.end_date) %>" id="end_date" type="text">
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="week col-sm-12">
  <h2>
  Menu
  <span class="cart"><a href="/plans/<%= @plan.id %>/groceries"><i class="fa fa-cart-plus"></i> Grocery</a></span>
  </h2>
  <hr />
  <% @plan.meals.each do |meal| %>
  <div class="meal_day">
    <img src="<%= meal.photo %>">
    <label><%= weekday_name(meal.date) %></label><span><span class="glyphicon glyphicon-pencil"  aria-hidden="true"></span>Edit</span>
    <hr />
    <ul class="meal_recipe_list">
      <% meal.recipes.each do |recipe| %>
      <li><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span><a href=""><%= recipe.name %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {


  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });

  </script>


</div>
