<div class="meal_plan">
<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="date">
    <div class="field form-group">
      <%= f.label :start_date %><br>
      <input class="datepicker" placeholder="Start date" value="<%= @plan.start_date %>" id="start_date" type="text">
    </div>
    <div class="field form-group">
      <%= f.label :end_date %><br>
      <input class="datepicker" placeholder="End date" value="<%= @plan.end_date %>" id="end_date" type="text">
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });

  </script>

<div class="row">
  <div class="week col-sm-2">
  <div class="meal_day">
    <label>Sunday</label>
    <div class="meal">
      <img src="">
    </div>
  </div>
  <div class="meal_day">
    <label>Monday</label>
    <div class="meal">
      <img src="">
    </div>
  </div>
  <div class="meal_day">
    <label>Tuesday</label>
    <div class="meal">
      <img src="">
    </div>
  </div>
  <div class="meal_day">
    <label>Wednesday</label>
    <div class="meal">
      <img src="">
    </div>
  </div>
  <div class="meal_day">
    <label>Thursday</label>
    <div class="meal">
      <img src="">
    </div>
  </div>
  <div class="meal_day">
    <label>Friday</label>
    <div class="meal">
      <img src="">
    </div>
  </div>
  <div class="meal_day">
    <label>Saturday</label>
    <div class="meal">
      <img src="">
    </div>
  </div>
</div>

<div class="search recipe_list col-sm-10">
  <ul class="row">
    <% @recipes.each do |recipe| %>
      <li class="col-sm-3">
        <div>
          <a href="/recipes/<%= recipe.id %>">
            <input name="recipe[id][]" value="<%= recipe.id %>" type="hidden">
            <%= image_tag recipe.photo.url(:small) %>
            <label><%= shorten(recipe.name) %></label>
          </a>
        </div>
      </li>
    <% end %>
  </ul>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var elements = {'add_all_recipes': '#add_all_to_meal_plan',
                    'add_to_meal_list': '.recipe_list .add_to_meal'};

    bindUserRecipeListEvents(elements);
  });
</script>

</div>
</div>
